
<mat-card *ngIf="bots$ | async as bots" class="scrollable-content fw-bold m-t-s m-l-l m-b-l flex fw-nowrap" style="margin-left: 100px; width: 100%; max-width: 400px; height: 500px;">

    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon style="font-size: 36px;">
          smart_toy
        </mat-icon>
      </div>
      <mat-card-title>
        Bot Managment
      </mat-card-title>
      <mat-card-subtitle>
        Manage your bots
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <mat-list *ngFor="let bot of bots | keyvalue" style=" padding-bottom: 20px;">
        <mat-list-item style="height:auto;">
          <div class="container">
            <div class="row pb-2">
              ID: {{bot.value.wallet_id}}
            </div>
            <div class="row">
                <form [formGroup]="form" *ngIf="bot.value.status == 'false'">
                    <mat-form-field >
                      <mat-label>Take profit ($)</mat-label>
                      <input formControlName="take_profit" matInput>
                    </mat-form-field>
                    <mat-form-field >
                      <mat-label>Stop loss ($)</mat-label>
                      <input formControlName="stop_loss" matInput>
                    </mat-form-field>
                  </form>
            </div>
            <div class="row">
              <div *ngIf="bot.value.status == 'false'" class="col-12 nopadding"><button class="btn btn-success btn-block" (click)="startBot(bot.value.wallet_id,bot.value.name, bot.value.method)">Start</button></div>
            </div>
            <div class="row">
              <div *ngIf="bot.value.status == 'true'" class="col-12 nopadding"><button class="btn btn-danger btn-block" (click)="stopBot(bot.value.wallet_id, bot.value.method)">Stop</button></div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    
    
  
  </mat-card>
  
  
  