<mat-toolbar style="padding-left: 10%; padding-right: 10%;" class="mat-elevation-z4">
  <mat-icon style="font-size: 32px;">
    trending_up
  </mat-icon>
  <span class="m-l-s fw-bold">
    Algorithmic Trading Bot
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<style>
  .example-spacer {
    flex: 1 1 auto;
  }
</style>
